/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Roboto', sans-serif;
  background: #e7e7e7;
}

.container {
  font-size: 1rem;
  max-width: 800px;
  padding: 0 20px 20px;
  margin: 0 auto;
}
