<div id="home" class="container">

  <div class="header">
    <h1>Proxy usage statistics</h1>
  </div>

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-selected="false">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-selected="true">History</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
      <app-dashboard></app-dashboard>
    </div>
    <div class="tab-pane" id="history" role="tabpanel" aria-labelledby="history-tab">
      <app-history [statistics]="statistics"></app-history>
    </div>
  </div>
</div>
