<div id="dashboard">
  <div class="dashboard-body">
    <div *ngIf="statistics.length !== 0" class="card">
      <h5 class="card-title">Requests per hour</h5>
      <div class="card-body">
        <ngx-charts-line-chart
          [view]="[1000, 500]"
          [scheme]="{ domain: ['#3483fa', '#abfa5f', '#fa461f', '#fab708'] }"
          [results]="data"
          [gradient]="false"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]="'Time'"
          [yAxisLabel]="'Requests'"
          [timeline]="false">
        </ngx-charts-line-chart>
      </div>
    </div>
    <div class="no-statistics" *ngIf="statistics.length === 0">
      <div class="title">At the moment there are no statistics!</div>
    </div>
  </div>
</div>
